html h2 {
  font-size: 18px; }
html #root {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #F6F6F6;
  justify-content: center; }
  html #root .App {
    width: 100%;
    max-width: 1024px; }
    html #root .App .container {
      margin: 10px;
      background-color: #FFF;
      border-radius: 10px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); }
    html #root .App .searchbar {
      position: relative;
      display: flex;
      height: 40px;
      overflow: hidden;
      margin-top: 5vh;
      margin-bottom: 20px; }
      html #root .App .searchbar img {
        position: absolute;
        height: 16px;
        width: 16px;
        left: 12px;
        top: 12px;
        bottom: 12px; }
      html #root .App .searchbar input {
        flex: 1;
        border: none;
        text-align: center;
        font-weight: 500;
        font-size: 14px; }
        html #root .App .searchbar input:focus {
          outline: none; }
    html #root .App .row-wrapper {
      display: flex;
      flex-direction: row; }
      html #root .App .row-wrapper .container {
        flex: 1; }
        html #root .App .row-wrapper .container h2 {
          margin: 15px;
          color: rgba(0, 0, 0, 0.5); }
    html #root .App .list {
      padding: 0;
      margin-top: 0;
      list-style-type: none; }
      html #root .App .list li {
        display: flex;
        flex-direction: row; }
        html #root .App .list li .poster {
          width: 70px;
          height: 100px;
          margin: 15px;
          border-radius: 5px;
          object-fit: cover; }
        html #root .App .list li div {
          margin: 10px 0;
          width: 250px;
          max-width: 40vw; }
          html #root .App .list li div h3 {
            margin: 10px 0 0 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          html #root .App .list li div p {
            text-align: left;
            margin: 5px; }
            html #root .App .list li div p.see-more {
              color: #000; }
          html #root .App .list li div .year {
            color: rgba(0, 0, 0, 0.5); }
        html #root .App .list li .award {
          width: 30px;
          height: 30px;
          margin: auto 30px auto auto; }
      html #root .App .list p {
        margin: 30px 0;
        text-align: center;
        color: rgba(0, 0, 0, 0.5); }
      html #root .App .list .load-more:hover {
        cursor: pointer; }

@media (max-width: 1023px) {
  html #root .App .searchbar {
    margin: 20px;
    margin-bottom: 10px; }
  html #root .App .row-wrapper .toggle {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 0; }
    html #root .App .row-wrapper .toggle h2 {
      margin: 0 10px; }
      html #root .App .row-wrapper .toggle h2:hover {
        cursor: pointer; }
      html #root .App .row-wrapper .toggle h2.focused {
        color: #000; }
  html #root .App .row-wrapper .container {
    margin: 20px; } }

/*# sourceMappingURL=App.css.map */
