html h2 {
  font-size: 18px; }
html #root {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #F6F6F6;
  justify-content: center; }
  html #root .App {
    width: 100%;
    max-width: 1024px; }
    html #root .App .container {
      margin: 10px;
      background-color: #FFF;
      border-radius: 10px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); }
    html #root .App .searchbar {
      position: relative;
      display: flex;
      height: 40px;
      overflow: hidden;
      margin-top: 5vh;
      margin-bottom: 20px; }
      html #root .App .searchbar img {
        position: absolute;
        height: 16px;
        width: 16px;
        left: 12px;
        top: 12px;
        bottom: 12px; }
      html #root .App .searchbar input {
        flex: 1;
        border: none;
        text-align: center;
        font-weight: 500;
        font-size: 14px; }
        html #root .App .searchbar input:focus {
          outline: none; }
    html #root .App .banner {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border: solid 2px #27AE60;
      transition-duration: 100ms; }
      html #root .App .banner h3 {
        margin: 0;
        color: #27AE60;
        font-size: 14px;
        font-weight: 600; }
      html #root .App .banner.hidden {
        height: 0px;
        border-width: 0px; }
    html #root .App .row-wrapper {
      display: flex;
      flex-direction: row; }
      html #root .App .row-wrapper .container {
        width: 50%;
        height: 100%; }
        html #root .App .row-wrapper .container h2 {
          margin: 15px;
          color: rgba(0, 0, 0, 0.5); }
    html #root .App .list {
      padding: 0;
      margin-top: 0;
      list-style-type: none; }
      html #root .App .list li {
        display: flex;
        flex-direction: row; }
        html #root .App .list li .poster {
          width: 70px;
          height: 100px;
          margin: 15px;
          border-radius: 5px;
          object-fit: cover; }
          html #root .App .list li .poster:hover {
            cursor: pointer; }
        html #root .App .list li div {
          margin: 10px 0;
          width: 250px;
          max-width: 40vw; }
          html #root .App .list li div h3 {
            margin: 10px 0 0 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          html #root .App .list li div p {
            text-align: left;
            margin: 5px; }
            html #root .App .list li div p.see-more {
              color: #000; }
          html #root .App .list li div .year {
            color: rgba(0, 0, 0, 0.5); }
          html #root .App .list li div:hover {
            cursor: pointer; }
        html #root .App .list li .award {
          width: 30px;
          height: 30px;
          margin: auto 30px auto auto; }
          html #root .App .list li .award:hover {
            cursor: pointer; }
      html #root .App .list p {
        margin: 30px 0;
        text-align: center;
        color: rgba(0, 0, 0, 0.5); }
      html #root .App .list .load-more:hover {
        cursor: pointer; }
    html #root .App #more-info {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center; }
      html #root .App #more-info .container {
        position: relative;
        width: 100%;
        max-width: 1024px;
        margin: 0;
        box-sizing: border-box;
        padding: 30px; }
        html #root .App #more-info .container .exit {
          position: absolute;
          top: 30px;
          right: 30px;
          width: 40px;
          height: 40px; }
          html #root .App #more-info .container .exit:hover {
            cursor: pointer; }
        html #root .App #more-info .container .info {
          display: flex;
          flex-direction: row;
          align-items: center; }
          html #root .App #more-info .container .info .poster {
            width: auto;
            height: 210px;
            max-width: 30%;
            border-radius: 5px;
            margin: 30px;
            object-fit: cover; }
          html #root .App #more-info .container .info .title {
            display: flex;
            flex-direction: row;
            align-items: center; }
            html #root .App #more-info .container .info .title h1 {
              margin: 0;
              font-size: 36px; }
            html #root .App #more-info .container .info .title img {
              width: 30px;
              height: 30px;
              margin: 15px 30px; }
              html #root .App #more-info .container .info .title img:hover {
                cursor: pointer; }
          html #root .App #more-info .container .info .text {
            margin: 30px; }
            html #root .App #more-info .container .info .text h4 {
              margin: 10px 0; }
        html #root .App #more-info .container .plot {
          margin: 30px;
          margin-top: 0;
          font-weight: 500;
          font-size: 18; }
    html #root .App .award.disabled {
      opacity: 0.1; }

@media (max-width: 1023px) {
  html #root .App #more-info .container {
    width: 90%;
    height: 90%; }
    html #root .App #more-info .container .exit {
      top: 15px;
      right: 15px; }
    html #root .App #more-info .container .scroll-content {
      height: 100%;
      width: 100%;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: 0; }
      html #root .App #more-info .container .scroll-content::-webkit-scrollbar {
        display: none; }
      html #root .App #more-info .container .scroll-content .info {
        align-items: center;
        flex-direction: column; }
        html #root .App #more-info .container .scroll-content .info .poster {
          max-width: 100%; }
        html #root .App #more-info .container .scroll-content .info .text {
          box-sizing: border-box;
          margin: 0;
          width: 100%;
          padding: 30px; }
          html #root .App #more-info .container .scroll-content .info .text .title h1 {
            max-width: 80%; }
          html #root .App #more-info .container .scroll-content .info .text .title img {
            margin: auto 0 auto auto; }
  html #root .App .searchbar {
    margin: 20px;
    margin-bottom: 20px; }
  html #root .App .banner {
    margin: 0 20px; }
  html #root .App .row-wrapper .toggle {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 0; }
    html #root .App .row-wrapper .toggle h2 {
      margin: 0 10px; }
      html #root .App .row-wrapper .toggle h2:hover {
        cursor: pointer; }
      html #root .App .row-wrapper .toggle h2.focused {
        color: #000; }
  html #root .App .row-wrapper .container {
    margin: 20px;
    width: 100%; } }

/*# sourceMappingURL=App.css.map */
